.navbar {
  display: inline-block;
  width: 700px;
}
.navbar .nav {
  width: 660px;
  margin: 0 0 0 0!important;
}

#archive.dropdown {
  float: right;
}

.jumbotron {
     position: relative;
}
.jumbotron h1 {
   margin-bottom: 9px;
   font-size: 81px;
   font-weight: bold;
   letter-spacing: -1px;
   line-height: 1;
}

p {
  font-size: 18px;
}

h2 > span {
  display: block;
}

.row {
  text-align: center;
  margin-bottom: 20px;
}

.white {
  color: white;
}
.orange {
  color: #FFA766;
}

.center {
  text-align:center;
}

/* widgets */
.frame {
  display: inline-block;
  margin-left   : 30px;
  margin-right  : 30px;
  width         : 640px;
  text-align: left;
}
.separator {
  display: inline-block;
  width         : 700px;
  border-bottom-color: #5E5E5E;
  border-bottom-size: 3px;
  border-bottom-style: solid;
}

.participant {
  width: 180px;
  height: 190px;
  font-size: 18px;
  vertical-align: top;
  margin: 5px;
  display: inline-block;
}

.participant > span {
  display: block;
  margin-top: 3px;
}

.participant > span.small {
  font-size: 14px;
}

.spacer {
  height: 40px;
}
.header {
  text-align        : center;
  display           : inline-block;
  width             : 700px;
}
.header .left{
  float:left;
  display:table;
  width:210px;
  height:210px;
}
.header .right{
  float:right;
  display:table;
  width:490px;
  height:210px;
}
.header .right span {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
.sponsor {
  display           : inline-block;
  width             : 700px;
}
.sponsor .left {
  float   : left;
  display : table;
  width   : 180px;
  height            : 150px;
}
.sponsor .right {
  float       : right;
  display     : table;
  text-align  : left;
  height      : 150px;
  width       : 440px;
  margin-left : 20px;
  height      : 150px;
}
.sponsor .right span {
  display         : table-cell;
  vertical-align  : middle;
}
.sponsor .left > span {
  display         : table-cell;
  vertical-align  : middle;
}
.sponsor .frame {
  text-align:center;
}
.sponsor .frame > span {
  display:inline-block;
  text-align:center;
  vertical-align:top;
}
.sponsor .frame .event_sponsor {
   width:200px;
   margin-right:20px;
}
.sponsor .frame .event_support {
   width:200px;
   margin-right:20px;
}
.sponsor .frame .event_organization {
   width:200px;
   margin-right:100px;
}

span.googlegroup, span.twitter {
  display:inline-table;
  margin-left:30px;
  margin-right:30px;
  height:33px;
}
span.twitter {
  vertical-align: middle;
}
span.googlegroup form{
  margin-bottom:0;
}
span.googlegroup .element{
  margin-right:3px;
}

.meetup {
  text-align        : center;
  display           : inline-block;
  width             : 700px;
  background-color  : #5E5E5E;
}
.meetup .frame {
  display: table;
  text-align:center;
  height: 100%;
}
.meetup .left {
  float: left;
  display: table;
  text-align: left;
  width:40%;
}
.meetup .right {
  float       : right;
  display     : table;
  text-align  : center;
  width: 200px;
  height:280px;
}
.meetup .right span {
  display         : table-cell;
  vertical-align  : middle;
  margin-left     : 30px;
}
.meetup .left > span {
  display         : table-cell;
  vertical-align  : middle;
  margin-left     : 20px;yy
}
.meetup .right span img {
  width: 200px;
}
.meetup .right span p {
  margin: 5px 0 0 0;
}
.pictures {
  text-align        : center;
  display           : inline-block;
  width             : 700px;
}
.pictures ul {
  list-style-type: none;
  margin: 0 0 0 0;
}
.pictures li {
  float: left;
  margin-right: 4px;
  margin-top: 4px;
  width : 172px;
}
.pictures li.first {
  margin-right: 0;
}
.videos {
  text-align        : center;
  display           : inline-block;
  width             : 700px;
}
.videos ul {
  list-style-type: none;
  margin: 0 0 0 0;
}
.videos li {
  float: left;
  margin-right: 4px;
  margin-top: 4px;
}
.videos li.first {
  margin-right: 0;
}
.agenda {
  display           : inline-block;
  width             : 700px;
}
.speaker {
  display           : inline-block;
  width             : 700px;
}
.speaker .left {
  float   : left;
  display : table;
  width   : 146px;
  height  : 146px;
}
.speaker .right {
  float       : right;
  display     : table;
  text-align  : left;
  height      : 146px;
  width       : 474px;
  margin-left : 20px;
  height      : 146px;
}
.speaker .right span {
  display         : table-cell;
  vertical-align  : middle;
}
.speaker .left > span {
  display         : table-cell;
  vertical-align  : middle;
}
.grab_ticket {
  display           : inline-block;
  width             : 700px;
}
.grab_ticket > span > span {
  text-align        : center;
}
#pic_modal {
  display:none;
  width:680px;
  margin-left:-350px;
}
#pic_modal .modal-body {
  max-height:600px;
}
#vid_modal {
  display:none;
}
.thumbnail > div{
  position: absolute;
  display: block;
  margin-top:-150px;
  width:348px;
}
#pic_modal .carousel-control{
  cursor: pointer;
  top:50%;
}
#pic_modal .carousel-control.right{
  right: 23px;
}
#pic_modal .carousel-control.left{
  left: 23px;
}
