.jumbotron {
     position: relative;
}
.jumbotron h1 {
   margin-bottom: 9px;
   font-size: 81px;
   font-weight: bold;
   letter-spacing: -1px;
   line-height: 1;
}

.row {
  text-align: center;
}

.white {
  color: white;
}
.orange {
  color: #FFA766;
}

/* widgets */
.frame {
  display: inline-block;
  margin-left   : 30px;
  margin-right  : 30px;
  width         : 640px;
  text-align: left;
}
.separator {
  display: inline-block;
  width         : 640px;
  border-bottom-color: #5E5E5E;
  border-bottom-size: 3px;
  border-bottom-style: solid;
}
.spacer {
  height: 100px;
}
.header {
  text-align        : center;
  display           : inline-block;
  width             : 700px;
  background-color  : #FF6D00;
}
.sponsor {
  display           : inline-block;
  width             : 700px;
}
.sponsor .left {
  float   : left;
  display : table;
  width   : 180px;
  height            : 150px;
}
.sponsor .right {
  float       : right;
  display     : table;
  text-align  : left;
  height      : 150px;
  width       : 440px;
  margin-left : 20px;
  height      : 150px;
}
.sponsor .right span {
  display         : table-cell;
  vertical-align  : middle;
}
.sponsor .left > span {
  display         : table-cell;
  vertical-align  : middle;
}
.meetup {
  text-align        : center;
  display           : inline-block;
  width             : 700px;
  height      : 200px;
  background-color  : #5E5E5E;
}
.meetup .left {
  float   : left;
  display : table;
  text-align  : left;
  width: 400px;
  height:200px;
}
.meetup .right {
  float       : right;
  display     : table;
  text-align  : right;
  text-align  : center;
  width: 200px;
  height:200px;
}
.meetup .right span {
  display         : table-cell;
  vertical-align  : middle;
  margin-left     : 30px;
}
.meetup .left > span {
  display         : table-cell;
  vertical-align  : middle;
  margin-left     : 20px;yy
}
.meetup .right span img {
  width: 200px;
}
.agenda {
  display           : inline-block;
  width             : 700px;
}
.speaker {
  display           : inline-block;
  width             : 700px;
}
.speaker .left {
  float   : left;
  display : table;
  width   : 146px;
  height  : 146px;
}
.speaker .right {
  float       : right;
  display     : table;
  text-align  : left;
  height      : 146px;
  width       : 474px;
  margin-left : 20px;
  height      : 146px;
}
.speaker .right span {
  display         : table-cell;
  vertical-align  : middle;
}
.speaker .left > span {
  display         : table-cell;
  vertical-align  : middle;
}
.grab_ticket {
  display           : inline-block;
  width             : 700px;
}
.grab_ticket > span > span {
  text-align        : center;
}
